{% extends 'app/main.html' %}
{% load static %}
{% block content %}
<section class="breadcrumbs-custom">
	<div class="parallax-container breadcrumbs_section">
	  <div class="breadcrumbs-custom-body parallax-content context-dark">
		<div class="container">
		  <h1 class="breadcrumbs-custom-title">Checkout</h1>
		</div>
	  </div>
	</div>
	<div class="breadcrumbs-custom-footer">
	  <div class="container">
		<ul class="breadcrumbs-custom-path">
		  <li><a href="{% url 'store' %}">Home</a></li>
		  <li><a href="{% url 'cart' %}">cart</a></li>
		  <li class="active">checkout</li>
		</ul>
	  </div>
	</div>
  </section>
<section class="section section-xxl bg-default text-md-left">
	<div class="container">
	  <div class="row row-40 justify-content-center justify-content-md-between">
		<div class="col-sm-10 col-md-5 col-xl-6">
		  <div class="inset-xl-right-70">
			<h3>User Information</h3>
			<hr>
			<br><br>
			<!-- RD Mailform-->
			<form id="form" >
				{% csrf_token %}
				<div class="form-wrap">
				  <input class="form-input" id="contact-name" type="text" name="name" />
				  <label class="form-label" for="contact-name">Your Name</label>
				</div>
				<div class="form-wrap">
				  <input class="form-input" id="contact-email" type="text" name="phone" />
				  <label class="form-label" for="contact-email">phone</label>
				</div>
				<div class="form-wrap">
					<input class="form-input" id="contact-address" type="text" name="address" />
					<label class="form-label" for="contact-address">address</label>
				</div>
				<div class="form-wrap">
					<input class="form-input" id="contact-city" type="text" name="city" />
					<label class="form-label" for="contact-city">city</label>
				</div>
				<div class="form-wrap">
					<input class="form-input" id="contact-state" type="text" name="state" />
					<label class="form-label" for="contact-state">state</label>
				</div>
				<div class="form-wrap">
					<input class="form-input" id="contact-zipcode" type="text" name="zipcode" />
					<label class="form-label" for="contact-zipcode">zipcode</label>
				</div>
				<input id="form-button" class="button button-lg button-secondary button-zakaria" type="submit" value="Continue">
			  </form>
			  <br>
			<div class="hidden" id="payment-info">
				<button id="procced" class="button button-lg button-secondary button-zakaria">Place Order</button>
			</div>
		  </div>
		</div>
		<div class="col-sm-10 col-md-6">
		  <div class="inset-xl-right-50">
			<a  class="button button-sm button-primary button-zakaria" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
			<br><br>
			<h3>Order Summary</h3>
			<hr>
			<br><br>	
			{% for item in items %}
			<div class="cart-row">
				<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
				<div style="flex:2"><p>{{item.product.name}}</p></div>
				<div style="flex:1"><p>	&#x20B9;{{item.product.price}}</p></div>
				<div style="flex:1"><p>x{{item.quantity}}</p></div>
			</div>
			{% endfor %}
			{% for item in items2 %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{% static 'images/customcake.jpg' %}"></div>
					<div style="flex:2"><p><p><strong>Size</strong>={{item.size}},<br><strong>Flavor</strong>={{item.flavor}},<br><strong>Shape</strong>={{item.shape}},<br><strong>Name on cake</strong>={{item.name_on_cake}}</p></p></div>
					<div style="flex:1"><p>&#x20B9;{{item.get_product_total}}</p></div>
					<div style="flex:1"><p>x{{item.quantity}}</p></div>
				</div>
			{% endfor %}
			<h5>Items: {{order.get_cart_items}}</h5>
			<h5>Total: Rs. {{order.get_cart_total}}</h5>
		</div>
	  </div>
	</div>
  </section>
     
	<script type="text/javascript">
		var total = '{{order.get_cart_total}}';
		var form = document.getElementById('form');
	
		form.addEventListener('submit',function(e){
			e.preventDefault();
			document.getElementById('form-button').classList.add("hidden");
			document.getElementById('payment-info').classList.remove("hidden");	
		})
		document.getElementById('procced').addEventListener('click',function(){
			
			submitData();
			alert('Order place successfully..')
		}) 

		function submitData(){
			var userFormData ={
				'name':null,
				'phone':null,
				'total':total
			}
			var shippingInfo ={
				'address':null,
				'city':null,
				'state':null,
				'zipcode':null
			}
			userFormData.name = form.name.value 
			userFormData.phone = form.phone.value 
			shippingInfo.address = form.address.value 
			shippingInfo.city = form.city.value 
			shippingInfo.state = form.state.value 
			shippingInfo.zipcode = form.zipcode.value 

			var url = '/proccess_order/'
			fetch(url,{
				method : 'POST',
				headers:{
					'Content-Type':'application/json',
					'X-CSRFToken': csrftoken,
				},
				body:JSON.stringify({'userFormData':userFormData,'shippingInfo':shippingInfo})
			})
			.then(response => response.json())
			.then(data =>{
				console.log('data',data);
				window.location.href = "{% url 'store' %}"
			})
		}
	</script>
{% endblock content %}

